.div{
    display: grid;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -200px; */
    margin-bottom: 100px;
    font-weight: 600;
    font-size: 40px;
}

.button_div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.button{
    color: rgba(255, 255, 255, 0.87);
    gap: 0.5em;
    background-color: #1a1a1a;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px
}

.button:hover{
    border-color: #5a5b64;
    border: 2px solid;
}

.password_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.password{
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 8px;
    border: 1px solid white;
    padding: 10px;

}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}